<div>
	<div id="upperwrapper" ng-repeat="actionplan in main">
		<div id="comment-author-holder"> Written by {{ actionplan.author_id }}, {{actionplan.time_since}}</div>
	<div id="actionplanmain"> 
		<div id="delete" ng-model="delete_me"> Delete me </div>
		<div id="plan">
			<h2>{{actionplan.plan}}</h2>
		</div>
		<div id="more-info">
			<h3> More Info </h3>
			<div id="actionplan-content" ng-bind-html="actionplan.article | to_trusted">
			</div>
		</div>
		<div id="vote-holder">
			<div id="vote_for_action_plan" type="submit" ng-click="vote()">
				Vote
			</div>
		</div>
	</div>
	</div>



<!--
	<div id = "pro-con-wrapper">
		<div class="col-1-2">
			<div id="listwrap">
			<h3>Pros</h3>
			</div>
		</div>
		<div class="col-1-2">
			<div id="listwrap">
			<h3>Cons</h3>
			</div>
		</div>
	</div>

-->

	<div id="commentsection">
			<div id="title">
				<h2>Comments</h2>
			</div>

			<form id="propose-form">
			 <fieldset id="comment-fields">
	      	<div id="Comment">
	      	<textarea rows="7" form="propose-form" id="comment" ng-model="comment" name="comment" placeholder= "Write your comment"required></textarea>
	        </div>
	      	</fieldset>
	      	</form>

	       <div id="proposebutton-holder">
	        <input type="submit" ng-click="submitComment()" id="commentsubmit" value ="Post">
	      </div>


			<div id= "commentbox" ng-repeat="comment in comments">
				<hr/>

				<div id="arrow-holder">
					<div class="arrow-up" ng-click="upvote($index)" id="arrow-up" ng-style=isUpvoted($index) src='sprites.png'></div> 

					<div class="space" id="upvote-count"> {{comment.upvotes}} </div>
					 <div class="space" id="downvote-count"> {{comment.downvotes}} </div> <div class="arrow-down" ng-click="downvote($index)" id="arrow-down" ng-style=isDownvoted($index) src='sprites.png'> </div> 
				</div>

				<div id="full-comment-holder">
					<div id="comment-holder" ng-bind-html="comment.text | to_trusted">
					</div>

					<div id="comment-author-holder"> Written by {{ comment.author_id }}, {{comment.time_since}}</div>
				</div>


			</div>
	</div>
</div>