
#upperwrapper{
	width:85%;
	margin-right: auto;
	margin-left: auto;
}

#issue{
	height:auto;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	top: 30px;
	position: relative;
	left: 0;
	font-family: "Century Gothic",'Lucida Sans Unicode',"Helvetica Neue",Helvetica,Arial,sans-serif;
	z-index:999;
	color: #333333;
	text-align: justify; 
}

#issue a{
	color: #555555;
	text-decoration: underline;
}

#title{
	font-weight: bold;
	text-align: left;
	padding-top: 20px;
	font-size:40px;
	color: #333333;
	text-align: center;
	width: 100%;
}

#background h3{
	font-size:20px;
	font-weight: bold;
}

#backgroundcontent {
	font-size:15px;
}

#actionplan_container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: 30px;
}

.col-1-3 {
  width: 29.2%;
  height: 240px;
  margin: 2%;
  border-radius: 5px;
  background-color: #CDF0F0;
}

.col-1-3:hover {
  width: 29.2%;
  height: 240px;
  margin: 2%;
  border-radius: 5px;
  background-color: #DEFFFF;
}

.col-lastplan{
  width: 29.2%;
  height: 240px;
  margin: 2%;
  border-radius: 5px;
  font-size:30px;
  font-weight: bold;
  font-family: Arial;
  text-decoration: none;
  background-color: #F7F7F7;
}

.col-lastplan:hover {
  background: #ecf0f1;
  cursor: pointer;
}


[class*='col-'] {
  float: left;
}



#proposebutton{
	top:20px;
	left:auto;
	line-height: 40px;
	font-size: 50px;
	position:relative;
    color: #444;
  	text-shadow: 0 1px 0 #fff; 
  	background-color: yellow;
  	border-style: solid;
    border-width: 5px;
    text-align: center;
    font-weight: bold;
    border-radius:50px;
    text-decoration: none;
    padding: 30px;
    padding-top:20px;
    padding-bottom:20px;
}

#actionplan{
	height:290px;
	position:relative;
	text-decoration: none;
	font-family:Arial;
	text-align: left;
	padding: 10px;
	padding-left:0px;
	border-left:10px;
}

#proposalBlock{
	height:250px;
	width:270px;
	position:absolute;
	text-align: center;
}

h4{
	text-align: left;
	text-decoration: none;
	padding-top:20px;
}

h2{
	text-align: center;
	text-decoration: none;
	color: white;
	font-weight: normal;
}

#actionplantitle{
	text-align: center;
	padding: 10px;
}

#actionplan h2{
	font-size: 30px;
	color: #333333;
	margin-bottom: 20px;
	margin-top: 10px;
	padding-top: 0px;
	font-weight:normal;
	text-align: center;
	height: 100px;
	max-height: 100px;
}

#actionplan h4{
	padding-top:0;
	padding-bottom:0;
	margin:0;
	padding-left:20px;
	color: #333333;
}

#action_plan_votes{
	padding: 20px;
	background-color: black;
	text-align: right;
	color: white;
	top: 0;
	position: relative;
}

#addactionplan{
	text-decoration: none;
	color:#2c3e50;
	text-align: center;
	height: 250px;
	position: relative;
}

#addactionplan h3{
	text-align: center;
	margin-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}


#background{
	padding-top: 5px;
	border-radius: 0px 0px 14px 14px;
	padding-bottom: 30px;

}

#actionplanchoose:hover{
	cursor: pointer;
}

