<div ng-repeat="issue in main">

		<div id="upperwrapper">
			<div id="issue"> 
				<div id="title">
					<h2>{{issue.title}}</h2>
				</div>
				<div id="background">
					<h3> Background Info </h3>
					<div id="backgroundcontent">
						{{issue.info}}
					</div>
				</div>
			</div>
		</div>

	<div id="actionplangrid">
		<div id="actionplanchoose" class="col-1-3" ng-repeat="actionplan in issue.action_plan_id" ui-sref="actionplan({ issue_id: {{issue.id}}, action_plan_id: {{actionplan.id}} })">
			<a id='actionplan'>
				<h2>{{ actionplan.plan}}</h2>				
			</a>
			<div id="action_plan_votes">
				{{ actionplan.votes }} Votes
			</div>
		</div>
		<div class="col-lastplan" ui-sref="createActionPlan({ issue_id: {{issue.id}} })">
			<a id='addactionplan'> 
				<h6>Don't see your viewpoint?</h6>
				<h4>Voice your thoughts</h4> 
			</a>
		</div>
	</div>
</div>