<div ng-repeat="issue in main">
	<div id="upperwrapper">
		<div id="issue"> 
			<div id="title">
				{{issue.title}}
			</div>
			<hr/>
			<div id="background">
				<h3> What you need to know </h3>
				<div id="backgroundcontent">
					{{issue.info}}
				</div>
			</div>
		</div>
	</div>

	<div id="actionplan_container">
		<div id="actionplanchoose" class="col-1-3" ng-repeat="actionplan in issue.action_plan_id" ui-sref="actionplan({ issue_id: {{issue.id}}, action_plan_id: {{actionplan.id}} })">
			<a id='actionplan'>
				<h2 id="actionplantitle">{{ actionplan.plan}}</h2>				
			</a>
			<div id="action_plan_votes">
				{{ actionplan.votes }} Votes
			</div>
		</div>
		<div class="col-lastplan" ui-sref="createActionPlan({ issue_id: {{issue.id}} })">
			<a id='addactionplan'> 
				<h3>Share your thoughts</h3> 
			</a>
		</div>
	</div>
</div>