

#mainview{
	position: relative;
	top:48px;
	left: 0;
	width: auto;
	display: block;
	min-height: 100vh !important;
	margin-right: 250px;

	/* new */
	margin-right: 0px;
	width: 60%;
	left: auto;
	margin: 0 auto;




	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

@media (max-width: 857px) {
	#mainview{
		margin-right: 0px;
		position: relative;
		top: 96px;
		width: 95%;
		margin: 0 auto;
	}

		#sidebar{
		display: none;
	}
}


