#SignUpSide h2{
	color: black;
	font-size: 30px;
	text-align: left;	
	font-weight:normal;

}

#UserSide h2{
	color: black;
	font-size: 30px;
	text-align: center;	
	font-weight:normal;
}

#SignUpSide {
	top: 18vh;
	margin: 20px;
	position: relative;
	text-align: center;

	-webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;

}

#signupbutton{
	border: 3px solid black;
	position: relative;
	border-radius: 200px;
	font-size: 15px;
	width: 90px;
	padding: 3px;
	text-align: center;

	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

#signupbutton:hover{
	cursor: pointer;
	color: #777777;
	border: 3px solid #777777;
}


#cont{
	padding:20px;
	text-align: center;
	padding: 20px;
	background-color: #E8F4F4;
	height: 100vh;
}