

<div id="issue_container" ng-repeat="issue in main">
	<div id = "individual_container" ui-sref="issue({ issue_id: {{issue.id}} })">


		<div id="title_container" >
			
			<div id="issue_title">

				{{ issue.title}}						
			</div>
			<img id = "picture" src="{{issue.picture}}" alt="Picture of {{issue.title}}"></img>
		</div>
		<div id="action_plan_container">
			<div id="aplan" ng-repeat="actionplan in issue.action_plan_id">
					{{ actionplan.plan}}

					<div id="aplan_votes">
						{{actionplan.votes}} Votes
					</div>
			</div>
		</div>
		<div id="asked_by">
			Asked by {{issue.author_id}}
		</div>
	</div>
</div>



        