/* @font-face { font-family: "glober"; src: url('Glober Thin Free.otf'); } 
@font-face { font-family: "glober"; font-weight: bold; src: url('Glober SemiBold Free.otf'); } 
*/

#topic_issue_container{
	width: 600px;
	margin-top: 70px;
	margin-right: auto;
    margin-left: auto;
	font-family: "Century Gothic",'Lucida Sans Unicode',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#topic_issue_container:hover{
	cursor: pointer;
}

#title_container{
	border-radius: 10px 10px 0px 0px ;
	text-align: left;
	height: auto;
}

#issue_title{
	padding-top:10px;
	text-align: justify;
	font-size: 30px;
	font-weight: normal;
	text-transform: capitalize;
}

#issue_info_container{
	padding-bottom: 10px;
}

.crop_text {
	overflow:hidden;
	max-height:120px;
	height: auto;
	text-align: justify;
	}​


#aplan{
	position: relative;
	height: 100%;
	right:0;
	padding: 15px;
	width: auto;
	color: #333333;

	/* Rectangle 5: */
}


/* crops image */ 

.crop {
    width: 600px;
    height: 200px;
    overflow: hidden;
}

.crop #picture {
    width: 800px;
    max-height: 600px;
    margin: -75px 0 0 -100px;
}

#aplan_votes{
	float: right;
}

#asked_by{
	position: relative;
	height: 100%;
	text-align: right;
	right:0;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: auto;
	color: white;
}

#action_plan_container{
	width:70%;
	background: #E7F1FF;
	border-radius: 14px;
	position: relative;
	left:15%;
	padding: 10px;
	margin-top:10px;
}

hr {
	position: relative;
    display: block;
    width: 30%;
    left: 35%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#callaction{
	text-align: center;
	color: #872F70;
}

#call-to-action{
	padding: 20px;
	text-align: center;
	color: #872F70;
}
