<!DOCTYPE html>
<html>
	<head>
		<title>Sign Up</title>
			
		<link rel='stylesheet' href='/css/partial-home.css' type='text/css' charset='utf-8'>

		<link rel='stylesheet' href='css/index.css' type='text/css' charset='utf-8'>

		<script src="lib/angular/angular.js"></script>
	    <script src="lib/angular/angular-ui-router.min.js">
	    </script>
	    <script src="js/app.js"></script>
	</head>

	<body ng-app="routerApp">

		<!-- Start of NavBar-->
		<div id="MenuContainer">
	        <ul id="navigation">
	        	<li class="logo"><a id="Logo" href="LandingPage.html">UPolitical</a></li>
	        	<li class="parent"><a class="white" id="Trending" href='{{ url_for('communbp.home') }}' >Trending</a></li>
	            <li class="parent"><a class="white" id="National" href="#" >National</a></li>
	            <li class="parent"><a class="white" id="Provincial" href="#" >Provincial</a></li>
	            <li class="parent"id="Local"><a class="white" href="#" >Local</a>
	                <ul class="submenu" id="Localmenu">
		                <li> <a href="#">London</a> </li>
		                <li> <a href="#">Halifax</a> </li>
	           		 </ul>
	            </li>
	        </ul>
	        <div id="national-dropdown">
	        </div>
	       	<div id="searchbutton-holder">
		     	<fieldset id="searchactions">
		     		<div id="searchholder">
		     			<input id="search" class="input" type="search" name="Search" placeholder="Search" required>
		     	 	</div>
		      		<div id="searchsubmitholder">
		      			<input type="submit" id="searchsubmit" value ="GO">
		      		</div>
		    	</fieldset>
		    </div>
  {% if g.user %}
    <div id="login"> <a id="login-click" href="/logout"> Logout </a> </div>
  {% else %}
    <div id="login"> <a id="login-click" href="#"> Login </a> </div>
  {% endif %}
	        
	        <div id="loginbox"> 
	    		<form id="login-form" action="/login"method="post">
		          <fieldset id="inputs">
		            <input id="username" type="email" name="email" placeholder="Your email address" required>   
		            <input id="password" type="password" name="password" placeholder="Password" required>
		          </fieldset>
		          <div id="button-holder">
		         	<fieldset id="actions">
		          		<input type="submit" id="submit" value ="Log in">
		        	</fieldset>
		          </div>
		        </form>
			</div>
			<div id='error'>
				{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
			</div>
			<div id='flash'>
			  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  			</div>
	        <div id="myaccount" href="#"> My Account </div>
	        <div id="reveal"> 
	        	<img src="assets/horizontalbars.png" class="bars" id="revealbars">
	        </div>
	    </div> 
	    <!-- End of NavBar-->
    	<div class='container'>
		   
			<div ui-view></div>

		</div>

		<div id="rightsection">

		</div>

	</body>
</html>