<!-- NAVIGATION -->
<div id="MenuContainer">

  <div id="small-menu">
    <ul id="small-list">
      <li class="small" ui-sref="trending" ui-sref-active="active"><a class="white" id="Trending">Trending</a></li>
      <li class="small" ui-sref="london" ui-sref-active="active"><a class="white" id="London" >London </a></li>
      <li class="small" ui-sref="bridgewater" ui-sref-active="active"><a class="white" id="Bridgewater">Bridgewater</a></li> 
    </ul>
  </div>

     <ul id="navigation">
                <li class="logo" ui-sref="home" ui-sref-active="active"><a id="Logo" >TownSquare</a></li>
                  <li class="parent" ui-sref="trending" ui-sref-active="active"><a class="white" id="Trending"  >Trending</a></li>
           <!--     <li class="parent"><a class="white" id="National" href="#" >National</a></li>
                <li class="parent"><a class="white" id="Provincial" href="#" >Provincial</a></li> 
                <li class="parent"id="Local"><a class="white" href="#" >Local</a>
                    <ul class="submenu" id="Localmenu">
                        <li> <a href="#">London</a> </li>
                        <li> <a href="#">Halifax</a> </li>
                     </ul>
                </li>   -->
            
                <li class="parent" ui-sref="london" ui-sref-active="active"><a class="white" id="London" >London </a></li>
                <li class="parent" ui-sref="bridgewater" ui-sref-active="active"><a class="white" id="Bridgewater">Bridgewater</a></li>

            </ul>
            <div id="national-dropdown">
            </div>

            <div id="searchbutton-holder">
                <fieldset id="searchactions">

                    <div id="searchholder">
                        <input id="search" class="input" type="search" ng-model="query" name="Search" placeholder="Search" required>
                    </div>
                    <div id="searchsubmitholder">
                        <input type="submit" id="searchsubmit" value ="GO">
                    </div>
                </fieldset>
            </div>





<!--    {% if g.user %}    -->
<!--    <div id="login"> <a id="login-click" href="/logout"> Logout </a> </div>    -->
<!--    {% else %}    -->
    <div id="login" > <a id="login-click" ng-click="openLogin()"> Login </a> </div>
<!--    {% endif %}      -->






<div id="loginbox" >
 <form name="loginForm"
      ng-submit="login(credentials)" novalidate>
  <div id="loginfieldwrap">
    <div id="inputwrap">
      <label for="email">Email:</label><br>
      <input type="text" id="email"
             ng-model="credentials.email"><br>
    </div>
      <label for="password">Password:</label><br>
      <input type="password" id="password"
             ng-model="credentials.password">
  </div>
  <div id="loginsubmitholder" >
    <div id="loginsubmit" ng-click="loginsubmit()"> Go! </div>
  </div>
</form>
</div>





<!--            <div id='error'>
                {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
            </div>
            <div id='flash'>
              {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

-->

</div>
            <div id="myaccount" href="#"> My Account </div>
            <div id="reveal" onclick="revealMenu()"> 
                <img src="assets/img/horizontalbars.png" class="bars" id="revealbars">
            </div>


