html{
  overflow-x: hidden;
}

/** Nav bar begins **/

.MenuContainer {
    height: 70px;
    bottom:0;
}

ul#navigation {
	top:-10px;
	left:-10px;
    height: 48px;
    line-height: 47px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 21px;
	font-family: "Century Gothic",'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    position: relative;
 	bottom: 0;
 	width: 105%;
	text-decoration: none;
	background: #16a085;
}


ul#navigation li {
    display: inline;
    float: left;
    margin-right: .75em;
    list-style: none;
    margin:0;
    font-family: "Century Gothic",'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
}



ul.submenu{
	width: auto;
	max-width: 140px;
    padding: 0px 0px;
    margin: 0px;
    background: #4C1C76;
    position: absolute;
    left:0px;
    z-index: 9999;
    display: none;
   


    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
}




ul.submenu ul{
    left: 180px;
    top:0px;
}
 
ul.submenu li{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: auto;
    display: block;
    float: left;
    border-top: 1px solid #F1F1F1;
    line-height: 40px;
    text-transform: none;
}

ul.submenu a{
	padding: 0px;
}



ul#navigation li:link{
	text-decoration: none;
	color: #FFFFFF;
}
    
ul#navigation a:hover{
	color: rgba(255,255,255,0.8);
	cursor: pointer;
}

#navigation .active a:hover{
	color: #ecf0f1;
	cursor: default;
}

#navigation .logo a:hover{
	color: #ecf0f1;
}


ul#navigation li.last {
    margin-right: 0;
}

#navigation .active a{
	background: #515151;
}

#navigation .logo a{
	background: #222222;
	color: white;
	padding-left: 40px;
	padding-right: 40px;
}

#navigation .parent a{
	color: white;
}

#login{
	position: absolute;
	top: 11px;
	right: 10px;
	text-decoration: none;

	display: inline;
    float: left;
    margin-right: .75em;
    list-style: none;
    margin:0;
    font-family: "Century Gothic",'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:2px;
    
}

#login:hover{
	color: rgba(255,255,255,0.8);
	cursor: pointer;
}

nav #loginbox{
  position: absolute;
  top: 25px;
  right: -5px;
  z-index: 999;    
  background: #595959;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  border-radius: 10px 0 10px 10px;
  width: 180px;
  height: 130px;
  display: none;
}

nav li #loginbox {
  right: 0;
  width: 250px;  
}


/*************** ********************************************/
#myaccount{
	
	position: absolute;
	top: 11px;
	right: 10px;

	display: inline;
    float: left;
    margin-right: .75em;
    list-style: none;
    margin:0;
    font-family: "Century Gothic",'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:2px;

    display: none;
}

#myaccount:hover{
	color: rgba(255,255,255,0.8);
	cursor: pointer;
}

#reveal{
	display: none;
	position: absolute;
	top: 6px;
	right: 80px;
}

.bars{
	width: 41px;
}

#searchbutton-holder{
	position: absolute;
	top: 2px;
	right: 60px;

	display: inline;
    float: left;
    margin-right: .75em;
    list-style: none;
    margin:0;
    font-family: "Century Gothic",'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:0px;
    padding-top:1px;
    border: none;
}

#searchactions {
  border: none;
  text-align: center;
}

#searchsubmit{
	background: rgba(0,0,0,0.2);
	border: 3px solid black;
	border-radius: 10px;
	color: black;
	font-weight: bold;
	font-family: "Century Gothic",'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 9px;
}

#searchsubmit:hover{
	background: rgba(0,0,0,0.4);
	cursor: pointer;
}

#searchsubmitholder{
	position: absolute;
	float: left;
	top: 6.5px;
	right: 23px;
}

#search{
	background: transparent;
	width: 150px;
	padding: 1.5px;
	border: 3px solid black;
	border-radius: 10px;
	color: black;
	font-weight: bold;
	font-family: "Century Gothic",'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    font-size: 11px;
}

#searchholder{
	position: absolute;
	float: left;
	top: 8px;
	right: 60px;
}

#search:hover{
	background: rgba(255,255,255,0.3);
}

@media (max-width: 439px){

	#reveal{
		display: block;
		z-index: 9999;
	}

	#reveal:hover{
		cursor:pointer;
	}
	
	#search{
		width:100px;
	}

	#searchbutton-holder{
		right: 110px;
	}

	#navigation .parent a {
		display: none;
	}
	#navigation ul.submenu a{
		padding: 0px;
	}

	textarea:focus, input:focus{
    outline: 0;
	}

	#navigation .logo a{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 799px) and (min-width: 440px){

	#reveal{
		display: block;
		z-index: 9999;
	}
	
	#search{
		width:100px;
	}

	#searchbutton-holder{
		right: 110px;
	}

	#navigation .parent a {
		display: none;
	}
	#navigation ul.submenu a{
		padding: 0px;
	}

	textarea:focus, input:focus{
    outline: 0;
	}

}

@media (max-width: 855px) and (min-width: 800px) { 

	#navigation a {
		padding: 20px;
	}
	#navigation ul.submenu a{
		padding: 0px;
	}

	#search{
		width:10vw;
	}

	textarea:focus, input:focus{
    outline: 0;
	}

}

@media (max-width: 953px) and (min-width: 856px) { 

	#navigation a {
		padding: 25px;
	}
	#navigation ul.submenu a{
		padding: 0px;
	}

	#search{
		width:13vw;
	}

	textarea:focus, input:focus{
    outline: 0;
	}
}

@media (max-width: 1099px) and (min-width: 954px) { 

	#navigation a {
		padding: 35px;
	}
	#navigation ul.submenu a{
		padding: 0px;
	}

	textarea:focus, input:focus{
    outline: 0;
	}
}

@media (min-width: 1100px) { 

	#navigation a {
		padding: 4.0vw;
	}
	#navigation ul.submenu a{
		padding: 0px;
	}

	textarea:focus, input:focus{
    outline: 0;
	}
}

#navigation a {
    padding-top:14px;
    padding-bottom:14px;
	text-decoration: none;
}

::-webkit-input-placeholder {
   color: rgba(0,0,0,0.3);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0,0,0,0.3);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0,0,0,0.3);
}

:-ms-input-placeholder {  
   color: rgba(0,0,0,0.3);
}

/** Nav bar ends **/

a .white {
	text-decoration: none;
	color: white;
}



